<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Editar Post</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="card mt-5">
            <div class="card-header text-center">
                <strong>Editar Post   <%= id %> </strong>
            </div>

            <div class="card-body">

                <form action="/attpost" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="titulo" >Título do Post :</label>
                            <input type="text" value="<%= post.titulo %>" name="titulo" class="form-control" placeholder="Titulo">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label for="post-sinopse">Sinopse :</label>
                            <textarea name="postsinopse" class="form-control" placeholder="Escreva uma breve descrição do post"><%= post.sinopse %></textarea>
                            <input type="hidden"  name="id" value=" <%= id %>">
                        </div>
                    </div>

                    <div class="row mt-3">
                    <div class="col">
                        <label for="post-txt">Texto da Publicação :</label>
                        <textarea name="posttxt" class="form-control" placeholder="Digite aqui o texto da sua publicação"><%= post.texto %></textarea>
                    </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary mt-2">Salvar Alterações</button>
                </form>

                <button class="btn btn-block btn-primary mt-2">Apagar Post</button>
            </div>

        </div>
    </div>
</body>
</html>